.banner{ 
	background-image: url('https://wallpaperplay.com/walls/full/7/3/3/193175.jpg'); 
    position: relative;
	background-size: cover; 
	height: 100vh;
}
.home {
    position: absolute;
    left:5%;
    top: 44%;
    font-size: 120px;
    font-family: 'Bowlby One SC', cursive;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Volkhov', serif;

}
.nav-link, .navbar-brand{
    font-size: 24px;
}
.top-nav-collapse{
	background: #000;
}
.str{
	display: inline-block;
    font-weight: 400;
    margin-bottom: 0px;
    text-transform: uppercase;
    background-image: -webkit-linear-gradient(left, #ff2f8b, #9035f9);
    background-image: -moz-linear-gradient(left, #ff2f8b, #9035f9);
    background-image: -ms-linear-gradient(left, #ff2f8b, #9035f9);
    background-image: -o-linear-gradient(left, #ff2f8b, #9035f9);
    background-image: linear-gradient(to right, #ff2f8b, #9035f9);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin: 0px;
    letter-spacing: 1px;
}
.size{
    font-size: 80px;
    font-family: 'Bowlby One SC', cursive;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Volkhov', serif;
    font-family: 'Girassol', cursive;

}
.card1{
    width: 300px;
    text-align: center;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(184, 214, 255,0.5);
    padding: 15px;
}
.card1:hover {
    -webkit-box-shadow: -3px -10px 66px 0px rgba(0, 55, 128,0.15);
    -moz-box-shadow: -3px -10px 66px 0px rgba(0, 55, 128,0.15);
    box-shadow: -3px -10px 66px 0px rgba(0, 55, 128,0.15);
}
.pading{
	padding-left:  10px; 
}

.contactss{
    /*width: 100%;*/
    height: 500px;
    background-color: #242426;
}
hr {
    width: 64%;
    height: 12px;
    border: 0;
    box-shadow: inset 0 15px 12px -11px rgba(0,0,0,0.15);

}
#icon_text {
    font-size: 20px;
    font-family: 'Bowlby One SC', cursive;
    font-family: 'Volkhov', serif;
    font-family: 'Girassol', cursive;
    font-family: 'Pridi', serif;
    font-family: 'Fjalla One', sans-serif;
}
#pack_card_text{
    font-size: 18px; 

}

.list-group-item:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
     transform: scale(1.01); 
}

.about {
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 35px;
    background-color: rgba(12, 193, 247, 0.029);
    box-shadow: -3px -10px 66px 0px rgba(0, 55, 128,0.08);
    margin-top: 40px;
}
.about:hover{
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04); 
}
.about_text {
    font-size: 27px;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Kalam', cursive;
}

.map_main{
    position: relative;
    overflow:hidden;
    width: 80%; 
    left: 18%;
}
.map{
    position: absolute;
    width: 80%;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    text-align: center;
}



.view {
  margin: 10px;
  float: left;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff url(../images/bgimg.jpg) no-repeat center center;
  box-shadow: 0 0 10px rgba(184, 214, 255,0.5);
}

.view .mask,
.view .content {
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.view img {
  display: block;
  position: relative;
}

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  font-family: Raleway, serif;
  padding: 10px;
  /*background: rgba(0, 0, 0, 0.8);*/
  margin: 20px 0 0 0
}


.view a.a {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  font-family: Raleway, serif;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
    font-size: 16px;
    font-family: 'Bowlby One SC', cursive;
    font-family: 'Volkhov', serif;
    font-family: 'Girassol', cursive;
    font-family: 'Pridi', serif;
    font-family: 'Fjalla One', sans-serif;
}

.view a.a:hover {
  box-shadow: 0 0 5px #000;
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
     transform: scale(1.04); 
}


/*1*/

.view-first img {
  /*1*/
  transition: all 0.2s linear;
  width: 300px;
  height: 200px;
}

.view-first .mask {
  opacity: 0;
  background-color: rgba(58, 1, 132, 0.44);
  transition: all 0.4s ease-in-out;
}

.view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  font-family: Raleway, serif;
  transition: all 0.2s ease-in-out;
}

.view-first a.a {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.view-first:hover img {
  transform: scale(1.1);
}

.view-first:hover .mask {
  opacity: 1;
}

.view-first:hover h2,
.view-first:hover a.a {
  opacity: 1;
  transform: translateY(0px);
}

.view-first:hover a.a {
  transition-delay: 0.2s;
}
