.banner{ 
	background-image: url('https://du1frgvkr39c.cloudfront.net/sites/5adf778b6eabcc00190b75b1/content_entry5adf77af6eabcc00190b75b6/5ae4601cdfa2010053aefd40/files/8-days-pamir-highway-itnierary-tajikistan-main-image.jpg?1576733841');
	background-size: cover; 
	height: 100vh;
	position: relative;
}
.navbar-brand {
	font-size: 38px;
	font-family: 'Bowlby One SC', cursive;
	font-family: 'Volkhov', serif;
	font-family: 'Girassol', cursive;
	font-family: 'Pridi', serif;
	font-family: 'Fjalla One', sans-serif;
	font-family: 'Crimson Text', serif;
	font-family: 'Overpass', sans-serif;
	font-family: 'Boogaloo', cursive;
	font-family: 'Neuton', serif;
	font-family: 'Changa One', cursive;
}
.theme{
	position: absolute;
	/*color: white;  */
	top: 39%;
	font-size: 90px;
	font-family: 'Bowlby One SC', cursive;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Volkhov', serif;
	background-color:rgba(0,0,0,0.04);
}
#valley_name {
	font-size: 32px;
	padding: 10px;
}
#valley_info {
	font-size: 20px;
}
hr {
    width: 48%;
    height: 12px;
    border: 0;
    box-shadow: inset 0 15px 12px -11px rgba(0,0,0,0.15);

}
#img_name {
	font-size: 27px;
}
#img_info {
	padding: 4px;
	font-size: 18px;
	background-color:rgba(0,0,0,0.4);
}
.media {
	/*padding: 6px;*/
	background-color: rgba(172, 232, 252,0.08);
	/*box-shadow: inset 0 8px 8px -5px rgba(255, 176, 233,0.05);*/
}
.media-body {
	padding: 20px;
}
#tour_nav{
	background-color: black;
}


